@import "./vars";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

html {
  font-family: $base-font;
  font-size: 12px;
  color: $text-color;
}

input {
  font-family: $base-font;

  color: $text-color;
}
