@import "../../../assets/global-styles/vars";

.container {
  max-width: 980px;
  margin: $gutter auto;
  padding: $gutterLarge;

  background: white;

  .head {
    display: flex;
    align-items: center;
    padding-bottom: $gutter;
    border-bottom: 2px solid $gray-light;

    .message {
      flex: 1;
      font-size: 2em;

      margin-right: $gutterBig;
    }
  }

  .error {
    background: lighten($red-base, 38%);
    border-left: 5px solid $red-base;
    color: $red-base;
    font-size: 1.4em;

    padding: $gutter;
    margin: $gutterBig 0;
  }

  .trace {
    color: $gray-dim;
  }
}
