// FONTS

$base-font: 'Open Sans', sans-serif;
$display-font: 'Montserrat', sans-serif;

// SPACES

$gutterLarge: 28px;
$gutterBig: 21px;
$gutter: 14px;
$gutterSmall: 7px;
$gutterTiny: 5px;

// COLORS
$text-color: #595959;
$text-color-inverted: #e6e6e6;

$bg-color: #2d2d2d;

$gray-light: #e7e7e7;
$gray-base: #ababab;
$gray-dim: #777;
$gray-dark: #2d2d2d;

$red-base: #e34848;
$red-dark: #661515;

$green-base: #437a41;
$green-dim: darken($green-base, 10%);
$green-dark: darken($green-base, 18%);

$orange-base: #ff6503;
$orange-light: lighten($orange-base, 20%);

$info-bg: #fff0c6;
$info-bg-darker: #ecd8a0;
$info-text: #a87d42;
$info-text-darker: #785a31;

$ete-blue: #2B84B9;

$blue-base: $ete-blue;
$blue-dim: darken($blue-base, 8%);
$blue-dark: darken($blue-base, 18%);
$blue-light: lighten($blue-base, 25%);
$blue-bright: lighten($blue-base, 38%);

$blue-white: lighten($blue-base, 48%);

// CARD BOX SHADOWS

$card-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$card-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$card-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

// ANIMATIONS
$default-transition: all 280ms;

// Z-INDEX
$bottom-index: 1;
$middle-index: 2;
$top-index: 3;
$overlay-index: 4;
$master-index: 10;